* {
    padding: 0;
    margin: 0 auto;
}

body {
    background-image: url(../img/background.jpg);
}

.wrapper {
    height: 700px;
    width: 1089px;
    background-color: antiquewhite;
}

nav {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    line-height: 50px;
}

header {
    height: 150px;
    width: 100%;
    background-image: url(../img/header.png);
}
.wrapper header .head {
    color: rgb(122, 226, 240);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(250, 75, 75);
    line-height: 150px;
}

.content {
    width: 100%;
    height: 360px;
    background-color: azure;
}

aside{
    height: 360px;
    width: 30%;
    float: left;
}

section {
    height: 360px;
    width: 70%;
    float: left;
    background-color: rgb(218, 55, 96);
}

.clear {
    clear: both;
}
.menu li{
    float: left;
    width: 150px;
    height: 50px;
    list-style: none;
    text-indent: 20px;
    background-color: beige;
    position: relative;
}

.menu li .submenu {
    position: absolute;
    display: none;
}

a {
    font-weight: bold;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu li:hover {
    background-color: black;
}

li:hover>a {
    font-style: italic;
    color: white
}
.menu li:hover .submenu {
    display: block;
}

nav span form #txtSubmit {
    pad: 3px;
}

nav span form #txtEmail {
    padding: 3px;
}


